* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #8598af;
}

h1 {
    padding: 10px;
    margin: 0;
    color: #dfdfdf;
    font-family: "Courier"
}

h2 {
    text-align: center;
}

h3 {
    display: inline;
}

.nav-bar {
    margin: 0px;
    background-color: #595959;
    border-bottom-style: solid;
    border-color: #6a6a6a;
}

.contents{
    width: 100%;
    display: flex;
}

.links {
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    display: inline-block;
    margin: 10px;
    background-color: #ffffff;
}

.categories {
    flex: 1 1 auto;
}

.items {
    flex: 4 1 auto;
}
