<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
            type="text/css"
            href={{url_for('static', filename='style.css')}}>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="nav-bar">
            <a class="nav-link" href={{url_for('initialCatalog')}}>
                Sports Gear
            </a>
            {% if 'username' not in loginsession %}
                <a id="login-link" class="nav-link" href="{{url_for('showLogin')}}">
                    Login
                </a>
            {% endif %}
            {% if 'username' in loginsession %}
                <a id="logout-link" class="nav-link" href="{{url_for('gdisconnect')}}">
                    Logout
                </a>
            {% endif %}
        </div>
        <div class="contents">
            <div class="links categories">
                <h2>Categories</h2>
                <hr>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href={{url_for('categoryCatalog',
                            category_name=category.name)}}>
                                <h3>{{category.name}}</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="links items">
                {% if 'username' in loginsession %}
                    <a href="{{url_for('createGear')}}">Add Gear</a>
                {% endif %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li class="flash"><strong>{{ message }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <h2>Latest Items</h2>
                <hr>
                <ul>
                    {% for gear in latestGear %}
                        <li>
                            <a href={{url_for('gearCatalog',
                            category_name=gear.category.name,
                            item_name=gear.name)}}>
                                <h3>{{gear.name}} ({{gear.category.name}})</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
