<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
            type="text/css"
            href={{url_for('static', filename='style.css')}}>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="nav-bar">
            <a href={{url_for('initialCatalog')}}>
                <h1>Sports Gear</h1>
            </a>
        </div>
        <div class="contents">
            <div class="links categories">
                <h2>Categories</h2>
                <hr>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href={{url_for('categoryCatalog',
                            category_name=category.name)}}>
                                <h3>{{category.name}}</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="links items">
                <a href="{{url_for('createGear')}}">Add Gear</a>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li><strong>{{ message }}</strong></li>
                            {% endfor %}
                        </ul>
                        </br></br>
                    {% endif %}
                {% endwith %}
                <h2>Latest Items</h2>
                <hr>
                <ul>
                    {% for gear in latestGear %}
                        <li>
                            <a href={{url_for('gearCatalog',
                            category_name=gear.category.name,
                            item_name=gear.name)}}>
                                <h3>{{gear.name}} ({{gear.category.name}})</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
