<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="{{url_for('static', filename='style.css')}}">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="nav-bar">
            <a class="nav-link" href={{url_for('catalog')}}>
                Sports Gear
            </a>
            {% if 'username' not in loginsession %}
                <a id="login-link" class="nav-link" href="{{url_for('showLogin')}}">
                    Login
                </a>
            {% endif %}
            {% if 'username' in loginsession %}
                <a id="logout-link" class="nav-link" href="{{url_for('gdisconnect')}}">
                    Logout
                </a>
            {% endif %}
        </div>
        <div class="contents">
            <div class="links categories">
                <h2>Categories</h2>
                <hr>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href={{url_for('categoryCatalog',
                            category_name=category.name)}}>
                                <h3>{{category.name}}</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="links items">
                <h2>Delete {{item.name}}</h2>
                <hr>
                <p>Do you really want to delete {{item.name}}?</p>
                <form action={{url_for('deleteItem', item_name=item.name)}} method="post">
                    <input type="submit" value="Yes">
                </form>
                <form action={{url_for('itemCatalog',
                                       category_name=item.category.name,
                                       item_name=item.name)}}
                      method="get">
                      <input type="submit" value="No">
                </form>
            </div>
        </div>
    </body>
</html>
